.page-scroll {
  text-transform: capitalize;
  color: ghostwhite!important;
  -webkit-animation: fadein 2.2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.brand-heading {
  font-size: 40px !important;
  text-transform: capitalize;
  color: white;
  margin-left: 500px;
  margin-bottom: 0px;
  margin-top: 200px;
  -webkit-animation: fadein 2.2s;
}

p {
  font-family: Helvetica;
  color: whitesmoke;
}

#cover {
  color: gray;
}

#arrow {
  font-size: 100px;
  color: white;
  margin-left: 500px;
  margin-top: 375px;
  -webkit-animation: fadein 6s;
}

h2 {
  font-family: Helvetica;
  font-size: 25px;
}

#workType {
  margin-left: 100px;
}

#contact {
  margin-top: 100px;
  margin-bottom: 300px;
}

.col-lg-8 {
  border-style: groove;
  border-color: white;
  border-width: thick;
}

.stopPoint {
  visibility: hidden;
}